Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Build

*.png

Content/AdvancedVillagePack
Content/AnimalVarietyPack
Content/Environment_Set
Content/FarmAnimalsPack
Content/FogGradients
Content/MegaGameMusicCollection
Content/ParagonAurora
Content/Rodents
